<configuration>

    <!-- Include the shared common configuration -->
    <include resource="logs/config/logback-common.xml"/>

    <appender name="PRM_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/prm.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/prm.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date{HH:mm:ss.SSS} [Thread.%t] %-30c{1} %-5p %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="ac.csg.in2033.ipos.pu.prm" level="DEBUG">
        <appender-ref ref="PRM_FILE"/>
    </logger>

</configuration>